html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(180deg, #FFF9EC 0%, #fad8a4 100%);
  color: #043637;
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 2rem;
  /* overflow-y: hidden; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.black{
    background-color: rgb(108, 107, 107);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  /* margin-top: 0; */

  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
h1:hover{
    transform: scale(1.1);
    filter: brightness(1.8);
}
h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4a5568;

  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
h2:hover{
    transform: scale(1.1);
    filter: brightness(1.25);
}

.start{
    cursor: pointer;
}

.outer{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2rem;
    /* gap: 0.75rem; */
}

.btn{
    height: 10rem;
    width: 10rem;
    border: 9px solid black;
    border-radius: 20%;
    margin: 0.4rem;

    /* transform: scale(1); */
    /* filter: brightness(0.98); */
    cursor: pointer;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
  /* filter: brightness(1.7); */
}
.btn:active {
  transform: scale(0.98); /* Satisfying "click down" effect */
}

.red{
    background-color: red;
}
.red:hover{
    box-shadow: 0 0 20px red;
}
.blue{
    background-color: blue;
}
.blue:hover{
    box-shadow: 0 0 20px blue;
}
.green{
    background-color: green;
}
.green:hover{
    box-shadow: 0 0 20px green;
}
.yellow{
    background-color: yellow;
}
.yellow:hover{
    box-shadow: 0 0 20px yellow;
}

.flash{
    background-color: #fff;
}
.userFlash{
    background-color: rgb(247, 154, 169);
}

.over{
    font-size: xx-large;
    color:rgb(253, 91, 62);
}
.score{
    font-size: x-large;
}